:root{
    --maindeepColor: #101d36;
    --mainColor: #114b9c;
}
body{
    overflow: hidden;
}
.banner{
    width: 1200px;
    margin: 0 auto;
}
.sec_nav_section{
    position: relative;
    padding: 3rem 0;
    background-color: #f5f9fe;
}
.sec_nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 6.25rem;
    border-top: .3125rem solid var(--mainColor);
    white-space: nowrap;
    /* overflow-x: auto; */
    background-color: #fff;
}
.sec_nav>li{
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 4rem;
    height: 6.25rem;
}
.sec_nav li a{
    position: relative;
    z-index: 0;
    font-size: 1.5rem;
    color: var(--maindeepColor);
    font-weight: bolder;
}
.sec_nav>li:hover ol{
    display: block;
}
.sec_nav > li ol{
    display: none;
    position: absolute;
    top: 101%;
    left: 0;
    z-index: 1;
    width: 100%;
    background: #fff;
    padding-left: 1rem;
    padding-right: 1rem;
    border-top: .25rem solid var(--mainColor);
}
.sec_nav > li ol li{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 3.5rem;
    font-weight: bolder;
    font-size: 1.3rem;
}
.sec_nav > li ol li:hover .thirdslink{
    display: block;
}
.thirdslink{
    display: none;
    position: absolute;
    left: 100%;
    top: 15%;
    background: #fff;
}
.thirdlink{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
}
.thirdlink:hover a{
    color: var(--mainColor);
}


.sec_nav > li.current>a {
    color: var(--main-color);
  }
.sec_nav > li.current>a::after {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.625rem;
    background-color: rgba(189, 205, 227, 0.8);
}
.sec_nav li:hover>a{
    color: var(--main-color);
}
.sec_nav li:hover>a::after{
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.625rem;
    background-color: rgba(189, 205, 227, 0.8);
}

/* 主体区域 */
.brief-section{
    margin-top: 2rem;
}
.brief{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.brief a{
    display: block;
    width: 100%;
    height: 100%;
}
.brief-lf{
    width: 49%;
}
.brief-lf .brief-item{
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.brief-lf .brief-item img{
    width: 100%;
    height: 100%;
}
.brief-rt{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 49%;
}
.brief-item{
    overflow: hidden;
}
.brief-item:hover img{
    transform: scale(1.1);
}
.brief-rt .brief-item{
    position: relative;
    width: 49%;
    border-radius: 0.5rem;
    overflow: hidden;
}
.brief-rt .brief-item:nth-child(n+3){
    margin-top: 1rem;
}
.brief-rt .brief-item img{
    width: 100%;
    height: 100%;
}
.mask{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.brief-item-msg{
    position: absolute;
    bottom: 1rem;
    padding: 0 1rem;
}
.brief-item-msg h5{
    position: relative;
    display: inline-block;
    font-size: 1.5rem;
    word-break:keep-all;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.brief-item-msg h5::after {
    position: absolute;
    top: 90%;
    left: 0;
    content: "";
    width: 0;
    height: .22rem;
    background-color: #fff;
    transition: all .5s;
  }
.brief-item:hover .brief-item-msg h5::after{
    width: 100%;
}
.brief-item-msg p{
    font-weight: bolder;
    margin: 1rem 0;
    text-overflow: -o-ellipsis-lastline;  
    overflow: hidden;  
    text-overflow: ellipsis;  
    display: -webkit-box;  
    -webkit-line-clamp: 2;  
    -webkit-box-orient: vertical; 
}


.column-section{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.column{
    display: flex;
    justify-content: space-between;
}
.column-lf{
    width: 69%;
}
.column-rt{
    width: 30%;
}
.column-lf-item{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2rem;
}
.column-lf-theme{
    width: 65%;
}
.column-lf-item1{
    padding: 0 1rem 1.5rem;
    border-bottom: 1px solid #efeeed;
}
.column-lf-item1 a{
    width: 100%;
    height: 100%;
}
.column-lf-title1{
    font-size: 1.7rem;
    margin-bottom: 1.5rem;
    font-weight: bolder;
    color: var(--maindeepColor);
    font-style: italic;
}
.column-lf-item1-title::after {
    position: absolute;
    top: 90%;
    left: 0;
    content: "";
    width: 0;
    height: .22rem;
    background-color: var(--maindeepColor);
    transition: all .5s;
  }
.column-lf-item1:hover .column-lf-item1-title::after{
    width: 100%;
}
.column-lf-img1{
    width: 100%;
}
.column-lf-img1 img{
    width: 100%;
}
.column-lf-item1-title{
    position: relative;
    display: inline-block;
    margin: 0.8rem 0;
    font-size: 1.5rem;
    font-weight: bolder;
    color: var(--maindeepColor);
}
.column-lf-item1-msg{
    font-size: 1.3rem;
    color: #666;
    font-weight: bolder;
}
.column-lf-item1-other{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    color: var(--maindeepColor);
    font-weight: bolder;
}
.column-lf-item1-eye{
    padding-right: 0.5rem;
}
.column-lf-item1-time{
    padding-left: 0.5rem;
}
.column-lf-item2{
    width: 100%;
    padding: 1.5rem 1rem;
    border-bottom: 1px solid #efeeed;
}
.column-lf-item2 a{
    display: flex;
    width: 100%;
    height: 100%;
}
.column-lf-img2{
    width: 20.5rem;
    height: 13.25rem;
}
.column-lf-img2 img{
    width: 100%;
    height: 100%;
}
.column-lf-item2-msg{
    width: 80%;
    margin-left: 1rem;
    padding-top: 0.8rem;
}
.column-lf-item2-title{
    position: relative;
    display: inline-block;
    font-size: 1.4rem;
    color: var(--maindeepColor);
    font-weight: bolder;
}
.column-lf-item2-title::after {
    position: absolute;
    top: 90%;
    left: 0;
    content: "";
    width: 0;
    height: .22rem;
    background-color: var(--maindeepColor);
    transition: all .5s;
  }
.column-lf-item2:hover .column-lf-item2-title::after{
    width: 100%;
}
.column-lf-item2-msg p{
    font-size: 1.3rem;
    color: #666;
    font-weight: bolder;
    margin: 1rem 0;
}
.column-lf-item2-eye{
    font-size: 1.3rem;
    color: var(--maindeepColor);
    font-weight: bolder;
}
.column-lf-articles{
    width: 34%;
    border: 1px solid #efeeed;
    border-radius: 0.4rem;
    margin-top: 4rem;
    padding: 1rem;
}
.column-lf-article{
    padding-bottom: 2rem;
    border-bottom: 1px solid #efeeed;
    margin-bottom: 2rem;
}
.column-lf-article h4::after{
    position: absolute;
    top: 90%;
    left: 0;
    content: "";
    width: 0;
    height: .22rem;
    background-color: var(--maindeepColor);
    transition: all .5s;
}
.column-lf-article:hover h4::after{
    width: 100%;
}
.column-lf-article a{
    width: 100%;
    height: 100%;
}
.column-lf-article h4{
    position: relative;
    display: inline-block;
    font-size: 1.4rem;
    color: var(--maindeepColor);
    font-weight: bolder;
}
.column-lf-article p{
    margin: 1rem 0;
    font-size: 1.3rem;
    color: #666;
    font-weight: bolder;
}
.column-lf-article-eye{
    color: var(--maindeepColor);
    font-weight: bolder;
    font-size: 1.3rem;
}

.column-search{
    width: 100%;
    height: 16.25rem;
    background: url(../../images/strategy/columnsearch.jpeg) no-repeat center center;
    background-size: cover;
    padding: 2.4rem 1rem;
    border-radius: 0.4rem;
}
.column-search h3{
    color: #fff;
    font-weight: bolder;
    font-size: 1.7rem;
    font-style: italic;
    text-align: right;
    padding-right: 2.4rem;
    margin-top: 1rem;
}
.column-input{
    position: relative;
    width: 100%;
    height: 5rem;
    background: #fff;
    margin-top: 2.4rem;
    border-radius: 0.4rem;
    overflow: hidden;
}
.column-input input{
    width: 100%;
    height: 100%;
    padding-left: 1.4rem;
}
.column-input button{
    position: absolute;
    top: 0;
    right: 0;
    width: 6rem;
    height: 100%;
    color: var(--maindeepColor);
    font-weight: bolder;
    font-size: 1.3rem;
    background-color: transparent;
}
.column-input span{
    position: absolute;
    right: 6rem;
    top: 50%;
    transform: translateY(-50%);
    color: var(--maindeepColor);
    font-weight: bolder;
    font-size: 1.3rem;
}
.column-rt-items{
    padding: 1.2rem;
    border: 1px solid #efeeed;
    border-radius: 0.4rem;
    margin-top: 1rem;
}
.column-rt-item{
    border-bottom: 1px solid #efeeed;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}
.column-rt-item a{
    display: flex;
}
.column-rt-item:last-child{
    border-bottom: 0;
}
.column-rt-item-info{
    padding-left: 1rem;
    padding-top: 1rem;
}
.column-rt-item-info h4{
    position: relative;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bolder;
    color: var(--maindeepColor);
}
.column-rt-item h4::after{
    position: absolute;
    top: 90%;
    left: 0;
    content: "";
    width: 0;
    height: .22rem;
    background-color: var(--maindeepColor);
    transition: all .5s;
}
.column-rt-item:hover h4::after{
    width: 100%;
}
.column-rt-item-info p{
    font-size: 1.3rem;
    color: #666;
    font-weight: bolder;
    margin-top: 1rem;
}

.column-rt-tags{
    width: 100%;
    border: 1px solid #efeeed;
    border-radius: 0.4rem;
    padding: 1rem;
    margin-top: 1rem;
}
.column-rt-tags h3{
    font-weight: bolder;
    font-size: 1.7rem;
    color: var(--maindeepColor);
    font-style: italic;
}
.column-rt-tagItem{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2rem;
}
.column-rt-tagItem a{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.5rem;
    border: 1px solid #efeeed;
    color: var(--maindeepColor);
    font-weight: bolder;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
.column-rt-tagItem a.length-32{
    width: 32%;
}
.column-rt-tagItem a.length-66{
    width: 66%;
}
.column-rt-tagItem a.length-49{
    width: 49%;
}


@media screen and (max-width:1200px){
    .banner{
        width: 100%;
    }
    .sec_nav{
        display: flex;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .sec_nav li{
        padding: 0;
    }
}
@media screen and (max-width:700px){
    .brief-section{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .brief{
        flex-wrap: wrap;
    }
    .brief-lf{
        width: 100%;
    }
    .brief-rt{
        width: 100%;
        margin-top: 1rem;
    }
    .column-section{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .column{
        flex-wrap: wrap;
    }
    .column-lf{
        width: 100%;
    }
    .column-rt{
        width: 100%;
    }
}